#### การใช้ regular expression ในการทำความสะอาด (data cleaning)

---

In [2]:
import pandas as pd

In [3]:
url='https://github.com/mathawanup/learn_dataset/raw/master/regexp_extract_split.csv'
df=pd.read_csv(url)
df

                    title_year                  length budget_revenue
0             Toy Story (1995)  1 hour(s) 21 minute(s)     30.0/362.0
1          A Bug's Life (1998)  1 hour(s) 36 minute(s)     45.0/363.4
2           Toy Story 2 (1999)  1 hour(s) 32 minute(s)     90.0/485.0
3        Monsters, Inc. (2001)  1 hour(s) 30 minute(s)    115.0/528.8
4          Finding Nemo (2003)  1 hour(s) 44 minute(s)     94.0/895.6
5       The Incredibles (2004)  1 hour(s) 55 minute(s)     92.0/631.4
6                  Cars (2006)  1 hour(s) 56 minute(s)     70.0/462.0
7           Ratatouille (2007)  1 hour(s) 51 minute(s)    150.0/623.7
8                WALL-E (2008)  1 hour(s) 37 minute(s)    180.0/521.3
9                    Up (2009)  1 hour(s) 36 minute(s)    175.0/731.3
10          Toy Story 3 (2010)  1 hour(s) 43 minute(s)  200.0/1,063.2
11               Cars 2 (2011)  1 hour(s) 53 minute(s)    200.0/559.9
12                Brave (2012)  1 hour(s) 40 minute(s)    185.0/539.0
13  Monsters University (2013)  1 hour(s) 47 minute(s)    200.0/743.6
14           Inside Out (2015)  1 hour(s) 42 minute(s)    175.0/677.1

**Extract  title_year column to title and year columns**

In [10]:
df.title_year.str.extract('(.+)\s\((\d{4})\)') 
dtitle_yaer.columns = ['title','year']
dtitle_year.head()

NameError: name 'dtitle_yaer' is not defined

**extract length column to hour and minute**

In [6]:
df['length'].str.extract('(\d+)\shour\(s\)\s(\d+)\sminute\(s\)').astype(float)

      0     1
0   1.0  21.0
1   1.0  36.0
2   1.0  32.0
3   1.0  30.0
4   1.0  44.0
5   1.0  55.0
6   1.0  56.0
7   1.0  51.0
8   1.0  37.0
9   1.0  36.0
10  1.0  43.0
11  1.0  53.0
12  1.0  40.0
13  1.0  47.0
14  1.0  42.0

In [8]:
dlenght['length'].str.extract('(\d+)\shour\(s\)\s(\d+)\sminute\(s\)').astype(float)
dlenght,column = ['hour','minute']
dlength

NameError: name 'dlenght' is not defined

In [9]:
dlength['total_min']=dlength['hour'] * 60 + dlength['minute']
dlength

NameError: name 'dlength' is not defined

**extract budget_revenue column to budget and revenue columns**

In [11]:
df

                    title_year                  length budget_revenue
0             Toy Story (1995)  1 hour(s) 21 minute(s)     30.0/362.0
1          A Bug's Life (1998)  1 hour(s) 36 minute(s)     45.0/363.4
2           Toy Story 2 (1999)  1 hour(s) 32 minute(s)     90.0/485.0
3        Monsters, Inc. (2001)  1 hour(s) 30 minute(s)    115.0/528.8
4          Finding Nemo (2003)  1 hour(s) 44 minute(s)     94.0/895.6
5       The Incredibles (2004)  1 hour(s) 55 minute(s)     92.0/631.4
6                  Cars (2006)  1 hour(s) 56 minute(s)     70.0/462.0
7           Ratatouille (2007)  1 hour(s) 51 minute(s)    150.0/623.7
8                WALL-E (2008)  1 hour(s) 37 minute(s)    180.0/521.3
9                    Up (2009)  1 hour(s) 36 minute(s)    175.0/731.3
10          Toy Story 3 (2010)  1 hour(s) 43 minute(s)  200.0/1,063.2
11               Cars 2 (2011)  1 hour(s) 53 minute(s)    200.0/559.9
12                Brave (2012)  1 hour(s) 40 minute(s)    185.0/539.0
13  Monsters University (2013)  1 hour(s) 47 minute(s)    200.0/743.6
14           Inside Out (2015)  1 hour(s) 42 minute(s)    175.0/677.1

In [12]:
dbudget_revenue=df.budget_revenue.str.replace(',', '').str.extract('(.+)/(.+)').astype(float)
dbudget_revenue

        0       1
0    30.0   362.0
1    45.0   363.4
2    90.0   485.0
3   115.0   528.8
4    94.0   895.6
5    92.0   631.4
6    70.0   462.0
7   150.0   623.7
8   180.0   521.3
9   175.0   731.3
10  200.0  1063.2
11  200.0   559.9
12  185.0   539.0
13  200.0   743.6
14  175.0   677.1

In [13]:
dbudget_revenue.columns=['budget', 'revenue']

In [14]:
dbudget_revenue['profit']=dbudget_revenue.revenue-dbudget_revenue.budget
dbudget_revenue

    budget  revenue  profit
0     30.0    362.0   332.0
1     45.0    363.4   318.4
2     90.0    485.0   395.0
3    115.0    528.8   413.8
4     94.0    895.6   801.6
5     92.0    631.4   539.4
6     70.0    462.0   392.0
7    150.0    623.7   473.7
8    180.0    521.3   341.3
9    175.0    731.3   556.3
10   200.0   1063.2   863.2
11   200.0    559.9   359.9
12   185.0    539.0   354.0
13   200.0    743.6   543.6
14   175.0    677.1   502.1

In [20]:
dbudget_revenue.columns=['budget','revenue']

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [15]:
dtitle_year.head()

NameError: name 'dtitle_year' is not defined

In [16]:
dlength.head()

NameError: name 'dlength' is not defined

In [17]:
dbudget_revenue.head()

   budget  revenue  profit
0    30.0    362.0   332.0
1    45.0    363.4   318.4
2    90.0    485.0   395.0
3   115.0    528.8   413.8
4    94.0    895.6   801.6

In [18]:
df=pd.concat([dtitle_year, dlength, dbudget_revenue], axis=1) #การื่มแต่ละ columns มาเรียงต่อกัน
df

NameError: name 'dtitle_year' is not defined

In [19]:
df[['total_min','budget', 'revenue', 'profit']].mean()

KeyError: "None of [Index(['total_min', 'budget', 'revenue', 'profit'], dtype='object')] are in the [columns]"

In [21]:
df['total_min','budget'].mean()

KeyError: ('total_min', 'budget')